html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#autocomplete-container {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
}

#autocomplete {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #00CE7C;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

#autocomplete:focus {
  border-color: #001F60;
}
